body{
    background-color: hsl(0, 0%, 81%);   
}
.box{
    display: block;
    min-height: 100svh;
    width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: center;
}
.first, .second, .third, .fourth, .fifth{
        max-width: 250px;
        max-height: auto;
        border: none;
        border-radius: 5px;
        padding: 30px;
}
header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
img{
    border-radius: 50px;
}
.name{
    display: block;
}
.first{
    background-color: hsl(263, 55%, 52%);
    color: white;
}
.second{
    background-color: hsl(217, 19%, 35%);
    color: white;}
.fifth{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}
.third{
    background-color:hsl(219, 29%, 14%);
    color: white;
}
.fourth{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}

      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }