body{
    background-color: hsl(214, 17%, 92%);   
}
.box{
    display: block;
    min-height: 100svh;
    width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: center;
}
.first, .second, .third, .fourth, .fifth{
        max-width: 250px;
        max-height: auto;
        border: none;
        border-radius: 5px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1);
        padding: 30px;
}
header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
img{
    border-radius: 50px;
}
.name{
    display: block;
}
.first{
    background-color: hsl(263, 55%, 52%);
    color: white;
}
.second{
    background-color: hsl(217, 19%, 35%);
    color: white;}
.fifth{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}
.third{
    background-color:hsl(219, 29%, 14%);
    color: white;
}
.fourth{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    .cards{
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: minmax(200px, auto);
        padding: 40px;
    }
        .first, .second, .third, .fourth, .fifth{
            max-width: none;
        }

    }
    .first{
          grid-column: 1/ span 2;
          grid-row: 1;
    }
    .second{
          grid-column: 3;
          grid-row: 1;
    }
    .fifth{
          grid-column: 4;
          grid-row: 1/ span 2;
    }
    .third{
          grid-column: 1;
          grid-row: 2;
    }
    .fourth{
          grid-column: 2 / span 2;
          grid-row: 2;
    }
